@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Kaisei+Opti:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;900&display=swap");

.container {
  padding: 0 clamp(1rem, 4vw, 2rem);
  background: linear-gradient(45deg, #a0aedd, #c0e7b0);
  color: #333;
}

.main {
  max-width: 1024px;
  min-height: 100vh;
  padding: 4rem 0;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
}

.header {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.headerImg {
  background-image: url("/img/sasha.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
  background-position: center;
  border-radius: 50px;
}

.social {
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social li {
  margin: 0 15px;
}

.icon {
  width: 16px;
  height: 16px;
}

.squareLinkWrapper {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40%, 25ch), 1fr));
  grid-gap: clamp(10px, 3vw, 26px);
}

.squareLinkTitleWrapper {
  text-align: center;
  margin-top: 10px;
}

.squareLinkTitle {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: clamp(14px, 5vw, 1rem);
}

.squareLinkSubTitle {
  margin-top: 0;
  font-size: 15px;
  font-size: clamp(13px, 4vw, 15px);
}

.squareLinkImg {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.linkContainer {
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.737);
  margin: 7px;
  padding: 12px;
  text-align: center;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  color: #444;
  align-items: center;
  gap: 20px;
  width: 100%;
  border: 1px solid transparent;
}

.link p {
  margin: 10px;
}
.linkHeader {
  font-weight: 600;
}

.linkTitle {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 20px;
}

.linkPhoto {
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.discountCode {
  color: rgb(60, 134, 74);
  font-weight: 600;
  font-size: 13px;
  background: linear-gradient(45deg, #3060ff, #3db11a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.copyContainer {
  width: 100%;
}

.footer {
  padding: 13px 0;
}

.footer p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  color: #111;
}

@media (max-width: 420px) {
  .squareLinkTitleWrapper {
    max-width: 90%;
  }

  .link {
    flex-direction: column;
  }

  .linkPhoto {
    margin-top: 15px;
  }
}
